#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    max-width: 1000px;
    margin-bottom: 20px;
}

#cards .card {
    width: 200px;
    height: 200px;
    box-shadow: 0px 2px 5px 0px rgba(146, 146, 146, 0.75);
    display: flex;
    flex-direction: column;
    /* --mask:
        radial-gradient(47.77px at 50% 68.80px,#000 99%,#0000 101%) calc(50% - 64px) 0/128px 100%,
        radial-gradient(48.77px at 50% -36.8px,#0000 99%,#000 101%) 50% 32px/128px 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask); */
    cursor: pointer;
}

#cards .card .color {
    flex: 1;
    background-color: #26F786;

}

#cards .card .color-text {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: #FFF;
    color: red;
}